{% extends "base.html" %}

{% block page_title %}Технологии{% endblock %}
{% block headline %}<h1>Вот что я умею</h1>{% endblock %}

{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          HTML
        </li>
        <li class="list-group-item">
          CSS
        </li>
        <li class="list-group-item">
          Bootstrap
        </li>
        <li class="list-group-item">
          SQL
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>При создании сайта использовались следующие технологии:</p>
      <p>
        Python — высокоуровневый язык программирования общего 
        назначения с динамической строгой типизацией.
      </p>
      <p>
        Django — свободный фреймворк для веб-приложений на языке Python, 
        использующий шаблон проектирования MVC.
      </p>
      <p>
        HTML — стандартизированный язык гипертекстовой разметки документов 
        для просмотра веб-страниц в браузере.
      </p>
      <p>
        CSS (Cascading Style Sheets) — формальный язык описания внешнего вида 
        документа (веб-страницы), написанного с использованием языка разметки.
      </p>
      <p>
        Bootstrap — свободный набор инструментов для создания сайтов и 
        веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления для 
        типографики, веб-форм, блоков навигации и прочих компонентов 
        веб-интерфейса, включая JavaScript-расширения.
      </p>
      <p>
        SQL (structured query language) — 
        декларативный язык программирования, применяемый для создания, 
        модификации и управления данными в реляционной базе данных, 
        управляемой соответствующей СУБД.
      </p>
    </article>
  </div>
{% endblock content %}